body {
  background-color: #3F3D34;
}

.no-gutter {
    margin-right:0;
    margin-left:0;
}
nav{
  //padding-top: 40px;
}
.nav-title{
  font-family: Arizonia;
  font-size: 125%;
}


.app-body{
  background-color: white;
  padding: 0;
}

.offset{
  position: relative;
  top: 80px;
  box-shadow:  rgba(0, 0, 0, 0.22) -2px 9px 5px 0px;
}

.headings {
  font-family: Arizonia;
  font-size: 2rem;
}
.sub-headings {
  font-family: Raleway;
  font-size: 1rem;
}
.primary-text{
  font-size: 125%;
  line-height: 1.2rem;
  font-family: Raleway;
  color: #DEDDDD;
}
.fa {
  font-size: 1.3em;
}

.about {
  color: #fff;
  position: relative;
  top: -2rem;
  margin-top: 20px;
}

.panels{
    background-color: rgba(34, 34, 34, 0.8);
}

.modal-header{
  background-color: #888;
}

.table{
  font-family: Raleway;
}

.email{
  background-color: rgb(34, 34, 34);
  color: white;
  font-family: Raleway;

}

footer{
  text-align: center;
  color: #fff;
  padding-bottom: 20px;
}

.about-menu-btn{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.btn-lg {
    padding: 30px 60px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

.btn-default-mod {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0);
    border-color: #ccc;
}

.order-btn {
    position:fixed;
    right:10%;
    bottom:2%;
    background-color: rgba(255, 255, 255, .5);
}
